<aside class="social-options js-sticky">
  <span class="btn social facebook expanded fb-like" data-href="{{ page.url | absolute_url | strip_index }}" data-width="" data-layout="button" data-action="like" data-size="large" data-share="false"></span>
  {% comment %} <button class="btn social facebook expanded" aria-label="Фейсбук — Нравится" title="Фейсбук — Нравится">
    <span class="fb-like" data-href="{{ page.url | absolute_url | url_encode }}" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></span>
  </button> {% endcomment %}

  {% comment %} <button class="btn social vk expanded" id="vk-like" aria-label="Вконтакте" title="Вконтакте">
    <script>
      VK.Widgets.Like("vk-like", {type: "mini", height: 30});
    </script>
  </button> {% endcomment %}

  <button class="btn social twitter expanded" data-href="https://twitter.com/home?status='{{ page.title | url_encode }}'+{{ page.url | absolute_url | url_encode }}">
    <span class="icon twitter-xs" role="presentation"></span>Твитнуть
  </button>

  <button class="btn social telegram expanded" data-href="https://telegram.me/share/url?url={{ page.url | absolute_url | url_encode }}" aria-label="Телеграм">
    <span class="icon telegram-xs" role="presentation"></span>Поделиться
  </button>

  <button class="btn social email expanded" data-href="mailto:?subject={{ page.title | url_encode }}&amp;body={{ page.url | absolute_url | url_encode }}" aria-label="Почта">
    <span class="icon email-xs-white" role="presentation"></span>Поделиться
  </button>
</aside>
