<span class="btn social facebook fb-like" data-href="{{ page.url | absolute_url | strip_index }}" data-width="" data-layout="button" data-action="like" data-size="large" data-share="false"></span>
{% comment %} <button class="btn social facebook" aria-label="Фейсбук — Нравится" title="Фейсбук — Нравится">
  <span class="fb-like" data-href="{{ post.permalink | prepend: site.url }}" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></span>
</button> {% endcomment %}

<div class="btn social vk" id="vk-like" role="button" aria-label="Вконтакте" title="Вконтакте">
  <script src="//vk.com/js/api/openapi.js?136"></script>
  <script>
    VK.init({apiId: {{ site.data.social-networks.vk.api }}, onlyWidgets: true});
    VK.Widgets.Like("vk-like", {type: "mini", height: 30});
  </script>
</div>

<button class="btn social icon whatsapp" data-href="whatsapp://send?text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" aria-label="WhatsApp" title="WhatsApp"></button>
<button class="btn social icon twitter" data-href="https://twitter.com/home?status='{{ page.title | url_encode }}'+{{ page.url | absolute_url | url_encode }}" aria-label="Твиттер" title="Твиттер"></button>
<button class="btn social icon pocket" data-href="https://getpocket.com/edit.php?url={{ page.url | absolute_url | url_encode }}" aria-label="Покет" title="Покет"></button>
<button class="btn social icon email-md" data-href="mailto:?subject={{ page.title | url_encode }}&amp;body={{ page.url | absolute_url | url_encode }}" aria-label="Почта" title="Почта"></button>
