$search-button-height:                  $size-7;
$search-button-width:                   $size-6;
$search-button-height-md:               $size-6;

// -----------------------------------------------------------------------------
// GOOGLE SEARCH
// -----------------------------------------------------------------------------
// stylelint-disable selector-no-qualifying-type

// WRAPPERS

// #region
// Level 1: Styled outer wrapping div
.gsc-control-cse {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $transparent !important;
  border: 0 !important;
  font-size: inherit !important;
  text-align: left;
  padding: 0 !important;
}

.gsc-control-cse table {
  margin-bottom: 0;
}

.gsc-control-cse table:not(.gsc-above-wrapper-area-container),
.gsc-control-cse table:not(.gsc-above-wrapper-area-container) tbody,
.gsc-control-cse table:not(.gsc-above-wrapper-area-container) tr,
.gsc-control-cse table:not(.gsc-above-wrapper-area-container) td {
  display: block;
}


// Level 3: <form> and Level 4: nested table
.gsc-search-box {
  // Don't override:
  // border-spacing: 0 0;
  // border-style: none;
  // border-width: 0;
  // margin-top: 0;
  // margin-right: 0;
  // margin-left: 0;
  // width: 100%;
  font-size: inherit !important;
  margin-bottom: 0 !important;
}

// Level 3: <form>
.gsc-control-wrapper-cse > .gsc-search-box {
  // Don't override:

  background: $color-background-alt-row !important;
  border-bottom: 1px solid $color-border;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  height: $search-button-height;
  z-index: $zindex-fixed + 1;

  @include media-breakpoint-down(sm) {
    // Hide
    transform: translateY(-5.7rem);
    transition: transform $duration-sm $easing;

    &.is-visible {
      transform: translateY(0);
    }
  }

  @include media-breakpoint-up(md) {
    background: $transparent !important;
    border-bottom: 0;
    width: round(percentage(434 / 657)) !important;
    width: calc(100% - 223px) !important;
    height: $search-button-height-md;
  }
}

table.gsc-search-box {
  position: relative;
}

// Level 8: input cell
.gsc-search-box td {
  // Don't override:
  // vertical-align: middle;
  border-top: 0;
  padding: 0;
  font-size: inherit !important;
  padding-right: 0 !important;
}

// Level 9: input wrapper
.gsc-input-box {
  background: $transparent !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border: 0 !important;
  padding: 0 !important;
}

// #endregion

// LEVEL 14: INPUT
// #region

:not(table):not(td).gsc-input {
  // Don't override:
  // outline: none;

  font-size: 100% !important;
  line-height: 1.25;
  margin: 0 !important;
  padding: 3px 40px 0 !important;
  transition: border-color $duration-xs $easing;
  width: round(percentage(240 / 320)) !important;
  width: calc(100% - 80px) !important;
  height: 55px !important;

  @include media-breakpoint-up(md) {
    border: 1px solid rgba(0, 0, 0, .12) !important;
    border-radius: $border-radius;
    padding: 3px 40px 0 !important;
    width: 100% !important;
    height: $search-button-height-md !important;
  }
}
// #endregion

// -----------------------------------------------------------------------------

// BUTTONS
// #region

.gsc-search-button-v2,
.gsst_b,
.header__search-toggler {
  @extend %btn;

  position: absolute;
  top: 0;
  height: $search-button-height;

  @include media-breakpoint-up(md) {
    height: $search-button-height-md;
  }
}

// Level 13 and 14: button cell and button
.gsc-search-button {
  margin-left: 0 !important;
  width: $search-button-width !important;

  &:focus {
    background: color-ink(focus-outline);
    outline: none;
  }
}

// Level 14: submit button
.gsc-search-button-v2,
.gsc-search-button-v2:hover,
.gsc-search-button-v2:focus {
  // Don't override:
  // background-image: none;
  // background-image: linear-gradient(top, #4d90fe, #4787ed);
  // border-radius: 2px;
  // filter: none;
  // font-size: 0;
  // vertical-align: middle;
  border: 0 !important;
  background-color: $transparent !important;
  padding: 0 !important;
}

// Level 15: magnifier
.gsc-search-button-v2 svg {
  fill: color-ink(icon) !important;
  transform: translateY(.2rem);
  width: 1.6rem;
  height: 1.6rem;
}

// Level 14: reset button wrapper (<div>)
.gsst_b {
  // Don't override:
  // user-select: none;
  // white-space: nowrap;
  // font-size: 16px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: absolute !important;
  top: 0;
  right: 8rem;
  padding: 0 !important;
  height: $search-button-height;

  @include media-breakpoint-up(md) {
    right: 0;
    height: $search-button-height-md;
  }
}

// Level 15: reset button button (<a>)
.gsst_a {
  // Don't override:
  // cursor: pointer;
  padding: 0 !important;
}

// Level 16: reset button symbol
.gscb_a {
  // Don't override:
  // cursor: pointer;
  // display: inline-block;

  color: color-ink(icon) !important;
  line-height: 1 !important;
  width: 4.8rem;
}
// #endregion

// -----------------------------------------------------------------------------
// RESULTS
// -----------------------------------------------------------------------------
// #region

.gsc-control-cse .gsc-table-result {
  // Don't override:
  // width: auto;
  font-family: inherit !important;
  font-size: inherit !important;
}

// BOX
.gsc-results-wrapper-overlay {
  // Don't override:
  // border: none;
  // margin: auto;
  // overflow: auto;
  // border-collapse: separate;
  // position: fixed;
  // opacity: 0;
  // z-index: 100002;
  // visibility: hidden;
  background: $color-background-normal !important;
  box-shadow: $box-shadow-z5 !important;
  padding: $size-7 $size-2 !important;
  top: 0 !important;
  left: 0 !important;
  transition: all $duration $easing !important;
  width: 100% !important;
  max-width: 100%;
  height: 100vh !important;

  @include media-breakpoint-up(sm) {
    padding: $size-8 $size-4 !important;
  }

  @include media-breakpoint-up(md) {
    border-radius: $border-radius-lg !important;
    top: 3.2rem !important;
    left: 50% !important;
    bottom: 3.2rem;
    transform: translateX(-50%);
    max-width: 76.8rem - 3.2rem * 2 !important;
    height: auto !important;
  }

  @include media-breakpoint-up(lg) {
    padding: $size-8 $size-5 !important;
  }
}

// CLOSE BUTTON
.gsc-results-close-btn {
  // Don't override:
  // background-repeat: no-repeat;
  // display: none;
  // cursor: pointer;
  // opacity: 0;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23E7EAEE%22%20%2F%3E%3Cpolygon%20points%3D%2211.3%2012%208%208.7%208%208%208.7%208%2012%2011.3%2015.3%208%2016%208%2016%208.7%2012.7%2012%2016%2015.3%2016%2016%2015.3%2016%2012%2012.7%208.7%2016%208%2016%208%2015.3%22%20fill%3D%22%23979797%22%20%2F%3E%3C%2Fsvg%3E%0A') !important;
  background-position: 50% 50% !important;
  border: 0;
  float: none !important;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  top: $size-1 !important;
  right: $size-1 !important;
  touch-action: manipulation;
  width: 36px !important;
  height: 36px !important;
  z-index: $zindex-modal;

  &:focus {
    outline: 0;
  }
}

// RESULTS FOUND + SORT
.gsc-above-wrapper-area {
  border-bottom: 0 !important;
  padding: 0 0 $size-1 !important;
}

.gsc-above-wrapper-area-container td {
  border-top: 0;
  padding: 0;
}

.gsc-result-info {
  // Don't override:
  // text-align: left;
  // margin: 0;
  color: color-ink(muted) !important;
  font-size: inherit !important;
  padding: 0 !important;

  @include media-breakpoint-up(md) {
    @include text-truncate();
  }
}

.gsc-orderby-label {
  color: color-ink(muted) !important;
  padding: 0 !important;
}

// SNIPPETS
// stylelint-disable selector-class-pattern, selector-max-compound-selectors
.gsc-expansionArea > .gsc-webResult.gsc-result {
  // Don't override:
  // word-break: break-word;
  border-bottom: 1px solid color-ink(border) !important;
  padding-bottom: 2.1rem !important;
  margin-bottom: 1.3rem !important;
}

.gsc-expansionArea > .gsc-webResult.gsc-result:nth-last-child(2) {
  border-bottom: 0 !important;
}

.gs-webResult.gs-result a.gs-title,
.gs-imageResult a.gs-title {
  a:not([class]) {
    color: color-ink(link) !important;

    &:hover,
    &:focus {
      color: lighten(color-ink(link), 5%);
    }

    &:visited,
    &:visited b {
      color: darken(color-ink(link), 5%);
    }
  }
}

// Title
.gsc-control-cse .gs-spelling,
.gsc-control-cse .gs-result .gs-title,
.gsc-control-cse .gs-result .gs-title * {
  @include media-breakpoint-up(md) {
    @include text-truncate();

    font-size: $font-size-big !important;
    line-height: (24 / 20);
    padding-bottom: .1rem;
  }
}

.gsc-thumbnail-inside {
  padding: 0 !important;
}

.gsc-url-top {
  padding: 0 !important;
}

// URL
.gs-webResult div.gs-visibleUrl {
  color: $green !important;
}

// Description
.gsc-table-result {
  display: flex;
  padding: 0 !important;
}


.gsc-table-cell-snippet-close {
  padding: 0 !important;
}

.gs-webResult .gs-snippet {
  color: color-ink() !important;
  margin-top: 0 !important;
}

// Image cell
.gs-web-image-box,
.gs-promotion-image-box {
  // Don't override:
  // margin-right: 0;
  // margin-left: 0;
  // text-align: center;
  float: none !important;
  margin-left: 0 !important;
  padding: .5rem $size-2 0 0 !important;
  width: auto !important;
}

// Image link
.gs-web-image-box .gs-image {
  border: 0 !important;
  border-radius: $border-radius;
  position: relative;
  overflow: hidden;
  width: $size-8 !important;
  max-width: none !important;
  max-height: none !important;
  height: $size-8 !important;

  &::after {
    border-radius: $border-radius;
    box-shadow: inset 0 0 0 1px color-ink(border);
    content: '';
    position: absolute;
    // removed an incomprehensible top margin
    top: -2.1rem;
    right: 0;
    bottom: 0;
    left: 0;
    height: 6.4rem;
  }
}

.gs-result .gs-image > .gs-image,
.gs-result .gs-promotion-image {
  // Don't override:
  // vertical-align: middle;
  border: 0 !important;
  object-fit: cover;
}
// stylelint-enable selector-class-pattern, selector-max-compound-selectors

// SCRIM
.gsc-modal-background-image {
  // Don't override: opacity, position, top, left, width, height, z-index,
  // opacity, filter
  background-color: $modal-backdrop-bg !important;
  transition: all $duration $easing !important;
}

.gsc-modal-background-image-visible {
  // Don't override:
  // display
  filter: alpha(opacity=50) !important;
  opacity: $modal-backdrop-opacity !important;
}
// #endregion

// RESULTS MESSAGES AND FOOTER
// #region
.gcsc-more-maybe-branding-box {
  // Don't override:
  // border-radius: 18px;
  // margin: 3px;
  // padding: 8px;
  // display: inline-block;
  border: 0 !important;
}

.gs-no-results-result .gs-snippet,
.gs-error-result .gs-snippet {
  background-color: $transparent !important;
  border: 0 !important;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;

  &::before {
    display: block;
    content: '🤷🏻‍♂️';
    font-size: $font-size-h1;
  }
}

// Results next button on mobiles
.gsc-results .gsc-cursor-box {
  // Don't override:
  // border-radius: 8px;
  // text-align: center;
  // padding: 0;
  border: 0 !important;
}

.gsc-cursor-chevron {
  margin: 0 $size-1 -.1rem !important;

  path {
    fill: color-ink(icon);
  }
}
// #endregion

// -----------------------------------------------------------------------------
// CUSTOM
// -----------------------------------------------------------------------------

// Search toggler

.header__search-toggler {
  background: $transparent;
  box-shadow: -1px 0 rgba(0, 0, 0, .08);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  width: $search-button-width;

  .icon.is-find {
    fill: rgb(148, 151, 155);
    filter: drop-shadow(0 1px 0 $negative-hint);
    margin-top: .4rem;
  }

  &:hover {
    background: rgba(0, 0, 0, .04);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px color-ink(link);
    outline: 0;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

// Cancel button

.header__search-cancel {
  appearance: none;
  background: transparent;
  border: 0;
  color: $color-text-secondary;
  display: inline-block;
  font-size: $font-size-sm;
  padding: 5px 8px 0;
  position: absolute;
  top: 0;
  right: .3rem;
  transform: translateY(-5.7rem);
  transition: transform $duration-sm $easing;
  vertical-align: middle;
  height: 5.5rem;
  z-index: $zindex-fixed + 2;

  &.is-visible {
    transform: translateY(0);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px color-ink(link);
    outline: 0;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}
