---

lang: ru
# Front pages use site title instead page title
description: 'Комплексное пиар-сопровождение. Организация мероприятий, event-менеджмент. IT и научные исследования для органов власти. Создаем интерес и уважение.'
permalink: /
hreflang-en: /en
hreflang-zh: /zh
hreflang-ja: /ja
image: /img/polylog.png
layout: default
hero: true
home: true
classes: page-front has-dark-jumbotron
date: 2002-06-02
# Use !SITE_ASSETS! var here and {{ site.assets }} in the markup
style: |
  @media (min-width:768px){.page-front .jumbotron-wrapper{padding-top:17.6rem}}.jumbotron-hero{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.5))),url(/a/img/clients/polylog/2020-09-21-hero.jpg);background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(/a/img/clients/polylog/2020-09-21-hero.jpg);background-repeat:no-repeat;background-size:auto auto}@media (min-width:768px){.jumbotron-hero{padding-top:16rem}}@media (min-width:1016px){.jumbotron-hero{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.6)),color-stop(33%,rgba(0,0,0,.3)),to(rgba(0,0,0,0))),url(/a/img/clients/polylog/2020-09-21-hero-lg.jpg);background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.3) 33%,rgba(0,0,0,0)),url(/a/img/clients/polylog/2020-09-21-hero-lg.jpg)}}.jumbotron-hero::after{display:none}
---

<div class="jumbotron layered">
  <figure class="jumbotron-hero" title="Агентство «Полилог» — крупный поставщик BPM-систем">
    <figcaption class="jumbotron-wrapper">
      <div class="jumbotron-container">
        <div class="jumbotron-inner jumbotron-inner-left">
          <a class="jumbotron-body" href="/ru/projects/2020/agentstvo-polilog-voshlo-top-10-rossiyskih-postavshchikov-bpm">
            <!--noindex-->
            <span class="jumbotron-eyebrow ani-slide-down">Новый проект</span>
            <h1 class="jumbotron-headline ani-slide-down"><b>Агентство «Полилог»</b> вошло в&nbsp;топ-10 российских поставщиков BPM-систем</h1>

            <p class="jumbotron-summary ani-slide-down"><span class="hidden-xs-down">TAdviser включил Агентство «Полилог» с&nbsp;программной платформой POLYCODE в&nbsp;ежегодный рейтинг ведущих разработчиков информационных систем класса BPM (Business Process Management) для автоматизации и&nbsp;оптимизации бизнес-процессов. </span><span class="hidden-sm-down">По&nbsp;итогам 2019 года агентству присвоено девятое место, в&nbsp;основе рейтинга&nbsp;— данные по&nbsp;объему выручки от&nbsp;BPM-проектов.</span></p>
            <!--/noindex-->
          </a>
        </div>
      </div>
    </figcaption>
  </figure>
</div>

<main class="container">

  <div class="row">
    {% comment %} INTRO {% endcomment %}
    <div class="col-lg-6">
      <div class="tile intro large group"> <a class="tile-header" href="/ru/services" title="На фото — генеральный директор компании, Олег Карпилов">
        <div class="tile-body">
          <h2 class="tile-headline">Вы&nbsp;хотите, чтобы вас знали и&nbsp;уважали?</h2>
          <p class="tile-summary">Чтобы о&nbsp;вас писали и&nbsp;говорили? Чтобы рекомендовали? Сделаем.</p>
        </div>
        <p class="tile-footer">Все услуги</p>
        <img class="tile-img" src="{{ site.assets }}/img/people/oleg-on-front.png" alt="Олег Карпилов, генеральный директор PR-агентства «Полилог»">
        <svg class="icon forward" aria-hidden="true">
          <use href="#icon-forward" />
        </svg>
        </a>
        <div class="slider has-4-slides">
          <ul class="slider-inner" role="listbox" aria-label="Клиенты">
            <li class="slider-item">
              <ul class="clients">
                <li class="clients-item"><span class="clients-logo unesco" title="ЮНЕСКО">ЮНЕСКО</span></li>
                <li class="clients-item"><span class="clients-logo philips" title="Philips">Philips</span></li>
                <li class="clients-item"><span class="clients-logo beeline" title="Билайн">Билайн</span></li>
              </ul>
            </li>
            <li class="slider-item second">
              <ul class="clients">
                <li class="clients-item"><span class="clients-logo mitsubishi" title="Mitsubishi Motors">Mitsubishi Motors</span></li>
                <li class="clients-item"><span class="clients-logo microsoft" title="Microsoft">Microsoft</span></li>
                <li class="clients-item"><span class="clients-logo logitech" title="Logitech">Logitech</span></li>
              </ul>
            </li>
            <li class="slider-item third">
              <ul class="clients">
                <li class="clients-item"><span class="clients-logo sandoz" title="Sandoz">Sandoz</span></li>
                <li class="clients-item"><span class="clients-logo scania" title="Scania">Scania</span></li>
                <li class="clients-item"><span class="clients-logo samsung" title="Samsung">Samsung</span></li>
              </ul>
            </li>
            <li class="slider-item fourth">
              <ul class="clients">
                <li class="clients-item"><span class="clients-logo barbie" title="Barbie">Barbie</span></li>
                <li class="clients-item"><span class="clients-logo apec" title="Деловой саммит АТЭС 2012">Деловой саммит АТЭС 2012</span></li>
                <li class="clients-item"><span class="clients-logo ochakovo" title="Очаково">Очаково</span></li>
              </ul>
            </li>
          </ul>
          <a class="link forward" href="/ru/projects">Все клиенты</a> </div>
      </div>
    </div>

    <div class="col-lg-6 flex-lg-first">
      <div class="row">

        {% comment %} EVENT {% endcomment %}
        <div class="col-sm-6">
          <a class="tile event signage" href="/ru/services/event-management">
            <div class="tile-body">
              <h2 class="tile-headline services">
                <span class="icon event top"></span>
                Организация<br>
                мероприятий
              </h2>
              <h3 class="tile-subhead">
                съезды, выставки,<br>
                конференции, BTL
              </h3>
              <svg class="icon forward" aria-hidden="true">
                <use href="#icon-forward" />
              </svg>
            </div>
          </a>
        </div>

        {% comment %} PR {% endcomment %}
        <div class="col-sm-6">
          <a class="tile pr signage" href="/ru/services/public-relations">
            <div class="tile-body">
              <h2 class="tile-headline services">
                <span class="icon pr top"></span>PR<br>
                (Public&nbsp;Relations)
              </h2>
              <h3 class="tile-subhead">
                традиционные СМИ,<br>
                новые медиа
              </h3>
              <svg class="icon forward" aria-hidden="true">
                <use href="#icon-forward" />
              </svg>
            </div>
          </a>
        </div>

        {% comment %} FUNDRAISING {% endcomment %}
        <div class="col-sm-6">
          <a class="tile fundraising signage" href="/ru/services/fundraising">
            <div class="tile-body">
              <h2 class="tile-headline services">
                <span class="icon fundraising top"></span>
                Фандрайзинг
              </h2>
              <h3 class="tile-subhead">
                привлечение средств для&nbsp;финансирования<br>
                масштабных проектов
              </h3>
              <svg class="icon forward" aria-hidden="true">
                <use href="#icon-forward" />
              </svg>
            </div>
          </a>
        </div>

        {% comment %} IT {% endcomment %}
        <div class="col-sm-6">
          <a class="tile rnd signage" href="https://it.polylog.ru" target="_blank" rel="noopener noreferrer">
            <div class="tile-body">
              <h2 class="tile-headline services">
                <span class="icon rnd top"></span>
                IT
              </h2>
              <h3 class="tile-subhead">
                цифровые<br>
                решения
              </h3>
              <svg class="icon forward" aria-hidden="true">
                <use href="#icon-forward" />
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--noindex-->
  <div class="row">

    {% comment %} CAROUSEL {% endcomment %}
    <div class="col-lg-6">
      <div class="carousel slide has-tile js-manual" id="projects" data-ride="carousel">
        <div class="tile large group like-link carousel-inner" role="listbox">

          <a class="tile-slide carousel-item active" href="/ru/projects/2020/vostochnyy-novyy-god-sagaalgan-gosudarstvennom-kremlevskom">
            <div class="tile-img top-fit in-large-tile" style="background-image: url('{{ site.assets }}/img/clients/buryatia/2020-04-24-featured-front.jpg')" role="img" aria-label="Рекорд игрушечных машинок Hot Wheels"></div>
            <h2 class="tile-headline">
              <b>Восточный Новый год «Сагаалган»</b> в&nbsp;Кремле
            </h2>
            <p class="tile-summary">Агентство «Полилог» обеспечило информационное сопровождение праздника и&nbsp;организовало пресс-тур в&nbsp;Бурятию.</p>
          </a>

          <a class="tile-slide carousel-item" href="/ru/projects/2020/mezhdunarodnyy-agropromyshlennyy-molochnyy-forum">
            <div class="tile-img top-fit in-large-tile" style="background-image: url('{{ site.assets }}/img/clients/moscow-oblast/2020-02-06-milk-forum-featured.jpg')" role="img" aria-label="Рекорд игрушечных машинок Hot Wheels"></div>
            <h2 class="tile-headline">
              <b>VI&nbsp;Международный</b> агропромышленный молочный форум
            </h2>
            <p class="tile-summary">Агентство &laquo;Полилог&raquo; уже в&nbsp;четвертый раз организовало ключевое событие для российской молочной отрасли</p>
          </a>

          <a class="tile-slide carousel-item" href="/ru/projects/2019/evraziyskiy-ortopedicheskiy-forum">
            <div class="tile-img top-fit in-large-tile" style="background-image: url('{{ site.assets }}/img/clients/polylog/2019-07-19-featured.jpg')" role="img" aria-label="Программа"></div>
            <h2 class="tile-headline"><b>Евразийский</b> ортопедический форум</h2>
            <p class="tile-summary">Наш собственный проект&nbsp;— крупнейший в&nbsp;Евразии форум по&nbsp;травматологии, ортопедии и&nbsp;экономике здравоохранения</p>
          </a>

        </div>
        <a class="carousel-control left positive" href="#projects" data-slide="prev" role="button" aria-label="Назад"></a>
        <a class="carousel-footer" href="/ru/projects">Все кейсы</a>
        <a class="carousel-control right positive" href="#projects" data-slide="next" role="button" aria-label="Вперёд"></a>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="row">
        {% comment %} POLYCODE {% endcomment %}
        <div class="col-sm-6 col-lg-12">
          <a class="tile is-polycode poster wide" href="https://it.polylog.ru/polycode" target="_blank" rel="noopener noreferrer">
            <div class="tile-body">
              <h2 class="tile-headline">POLYCODE</h2>
              <p class="tile-subhead">Платформа, объединяющая возможности <span class="d-lg-none"> органайзеров, ERP, CRM и&nbsp;BPM</span> <span class="d-none d-lg-block"> task-менеджеров, ERP-, CRM- и&nbsp;BPM-систем</span> </p>
            </div>
            <figure class="tile__figure"> <img class="tile-img" src="{{ site.assets }}/img/p-front/card/polycode.svg" alt="POLYCODE"> </figure>
          </a>
        </div>

        {% comment %} HELP {% endcomment %}
        <div class="col-sm-6 hidden-md-down">
          <a class="tile focus poster" href="/ru/pr-blog/help">
            <div class="tile-body">
              <h2 class="tile-headline">Энциклопедия PR</h2>
              <h3 class="tile-subhead">От «Антикризисных коммуникаций» до&nbsp;«Яндекс.Аудиторий»</h3>
            </div>
            <svg class="icon forward" aria-hidden="true">
              <use href="#icon-forward" />
            </svg>
          </a>
        </div>

        {% comment %} BLOG {% endcomment %}
        <div class="col-sm-6">
          {% for item in site.blog limit:1 %}
            <a class="tile blog poster" href="{{ item.permalink }}">
              <div class="tile-body">

                <h2 class="tile-headline">
                  В блоге
                </h2>

                <h3 class="tile-subhead">
                  {{ item.title }}
                </h3>
              </div>
              <svg class="icon forward" aria-hidden="true">
                <use href="#icon-forward"></use>
              </svg>
            </a>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>

  <div class="row">

    {% comment %} PROMO {% endcomment %}
    {% include polylog-promo/front.html %}

    {% comment %} JOB {% endcomment %}
    <div class="col-sm-6 col-lg-3 flex-lg-first hidden-xs-down">
      <a class="tile jobs poster" href="/ru/careers/jobs">
        <div class="tile-body">
          <h2 class="tile-headline">Работа <span class="hidden-xl-down">в&nbsp;«Полилоге»</span></h2>
          <p class="tile-summary">
            Нам требуются<br>
            талантливые пиарщики, маркетологи, event- и&nbsp;IT-специалисты. Приходите
          </p>
        </div>
        <svg class="icon forward" aria-hidden="true">
          <use href="#icon-forward" />
        </svg>
      </a>
    </div>

    <div class="col-sm-6 col-lg-3">
      <a class="tile management poster" href="/ru/company/management">
        <h2 class="tile-headline">Команда</h2>
        <img class="tile-img" src="{{ site.assets }}/img/people/max.png" alt="Максим Сучков, бизнес-директор PR-агентства «Полилог»">
        <svg class="icon forward" aria-hidden="true">
          <use href="#icon-forward" />
        </svg>
      </a>
    </div>
  </div>
  <!--/noindex-->

</main>
