// **
// Bootstrap variables

// Primary
// $dropdown-bg:                           $gray-lightest;
// $dropdown-border-color:                 $gray-light;
// $dropdown-border-width:                 1px;

// Secondary
// $dropdown-divider-bg:                   $gray-light;
// $dropdown-link-color:                   $color-text-secondary;
// $dropdown-link-hover-color:             darken($color-text-secondary, $tone);
// $dropdown-link-hover-bg:                $color-background-secondary;
// $dropdown-link-active-color:            darken($color-text-secondary, ($tone * 2));
// $dropdown-link-active-bg:               darken($color-background-secondary, ($tone * 2));
// $dropdown-link-disabled-color:          $gray;
// $dropdown-header-color:                 $gray;
// *

// PANEL

.dropdown-menu {
  background-color: $gray-lightest;
  border: 1px solid rba(0, 0, 0, .12);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .06);
  padding: $size-1 - .1rem; // minus border width
}

.dropdown__2-columns {
  @include media-breakpoint-up(lg) {
    column-count: 2;
    column-gap: $size-line;
  }
}

.dropdown__2-columns li {
  @include media-breakpoint-up(lg) {
    display: inline-block;
    width: 100%;
  }
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// SUBTITLES

.dropdown__subtitle {
  padding: ($size-2 - .1rem) $size-2 .6rem;

  ul + & {
    padding-top: $size-5 + .2rem;
  }
}

// MENU ITEMS (LI)

.dropdown__item,
.dropdown-item {
  @extend %menu-item;

  color: $color-text-secondary;
  display: block;
  font-weight: normal;
  text-align: inherit;
  width: 100%;
}

// Section Index Item

.dropdown-item.index {
  border-bottom: 1px solid $color-border;
  margin-bottom: .7rem;
  padding-bottom: .5rem;
}


// -------------------------------------
// Links
// -------------------------------------

.dropdown-link,
.dropdown__link {
  @extend %menu-link;

  border-radius: $border-radius-sm;
  text-align: left;
  padding: 6px 16px 5px;
}


// -------------------------------------
// Navbar variations
// -------------------------------------

.navbar-nav .dropdown-menu {
  @include media-breakpoint-up(md) {
    margin: 1.6rem 0 0 12px;
    top: 0;
    left: 100%;
    width: 276px;

    &::before,
    &::after { // Caret
      border-color: rgba(0, 0, 0, 0);
      border-style: solid;
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
    }

    &::before { // Caret Outline
      border-right-color: rgba(0, 0, 0, .12);
      border-width: 8px 8px 8px 0;
      top: 19px;
      left: -8px;
    }

    &::after { // Caret Outline
      border-right-color: $color-background-alt-row;
      border-width: 7px 7px 7px 0;
      top: 20px;
      left: -7px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
    padding-top: 5px;
  }
}
