<footer class="footer container">
  <!--noindex-->
  <div class="row">
    {% comment %} SUBSCRIBE {% endcomment %}
    <div class="footer-last-options col-lg-6">
      <h3 class="footer-heading">
        Connect with Us
      </h3>
      {% include social-tools/footer-accounts-en.html %}
    </div>

    {% comment %} LIKE, SHARE AND SUBSCRIBE {% endcomment %}
    <section class="footer-social col-lg-6 flex-lg-first">
      <h3 class="footer-heading">
        Do you like the page? Share it
      </h3>
      {% include social-tools/footer-share-en.html %}
    </section>
  </div>
  <!--/noindex-->

  {% comment %} CONTACTS {% endcomment %}
  <div class="footer-contacts" itemscope itemtype="http://schema.org/Organization">
    <address class="footer-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">{{ site.data.i18n.company.street[page.lang] }}</span>, <span itemprop="postalCode">{{ site.postal_code }}</span> <span itemprop="addressLocality">{{ site.data.i18n.company.city[page.lang]}}, {{ site.data.i18n.company.country[page.lang] }}</span>.
    </address>
    <span class="nowrap">Tel: <a class="link is-phone-number" href="tel:{{ site.data.i18n.company.is-phone_link }}" content="{{ site.data.i18n.company.is-phone_link }}" itemprop="telephone" title="Call Us">{{ site.data.i18n.company.is-phone }}</a></span> |
    <a class="js-contact" href="mailto:{{ site.data.i18n.company.email }}" title="Contact Us">Email</a>
    <p class="footer-privacy">© <span itemprop="name">Polylog</span> | PR, events, IT since 2000. <a class="nowrap" href="/en/company/privacy-policy#consent">Privacy policy</a></p>
  </div>
</footer>
