<footer class="footer container">
  <!--noindex-->
  <div class="row">

    <div class="footer-last-options col-lg-6">
      {% comment %} FORM {% endcomment %}
      <h3 class="footer-heading">Получайте на&nbsp;почту анонсы видеолекций и&nbsp;дайджест блога</h3>
      {% include form/subscription.html %}

      {% comment %} QUICK LINKS {% endcomment %}
      <ul class="footer-quick-links" role="menu">
        <li class="quick-links-item">
          <h3 class="quick-links-caption">
            <a class="quick-links-caption-link" href="/ru/projects">
              Новости:
            </a>
          </h3>
          {% for item in site.projects_ru limit:1 %}
            <a class="quick-links-link" href="{{ item.permalink }}">
              {{ item.title}}
            </a>
          {% endfor %}
        </li>

        <li class="quick-links-item">
          <h3 class="quick-links-caption">
            <a class="quick-links-caption-link" href="/ru/pr-blog">
              В блоге:
            </a>
          </h3>
          {% for item in site.blog limit:1 %}
            <a class="quick-links-link" href="{{ item.permalink }}">
              {{ item.title }}
            </a>
          {% endfor %}
        </li>

        <li class="quick-links-item">
          <h3 class="quick-links-caption">
            <a class="quick-links-caption-link" href="/ru/pr-blog/help">
              Словарь:
            </a>
          </h3>
          <a class="quick-links-link" href="/ru/help/pr-public-relations-svyazi-obshhestvennostyu-piar">
            PR (public relations, связи с общественностью, пиар)
          </a>
        </li>
      </ul>
    </div>

    {% comment %} LIKE, SHARE AND SUBSCRIBE {% endcomment %}
    <section class="footer-social col-lg-6 flex-lg-first">
      <h3 class="footer-heading">
        Нравится? Ставьте лайки, делитесь
      </h3>

      {% include social-tools/footer-share.html %}

      <h3 class="footer-heading last">
        PR&nbsp;и&nbsp;маркетинг в&nbsp;разных форматах. Подписывайтесь
      </h3>

      {% include social-tools/footer-accounts.html %}

    </section>
  </div>
  <!--/noindex-->

  {% comment %} CONTACTS {% endcomment %}
  <div class="footer-contacts" itemscope itemtype="http://schema.org/Organization">
    <address class="footer-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="postalCode">{{ site.postal_code }}</span>, <span itemprop="addressLocality">{{ site.data.i18n.company.city[page.lang] }}</span>, <span itemprop="streetAddress">{{ site.data.i18n.company.street[page.lang]}}.</span>
    </address>
    <span class="nowrap">Тел.: <a class="link is-phone-number" href="tel:{{ site.data.i18n.company.is-phone_link }}" content="{{ site.data.i18n.company.is-phone_link }}" itemprop="telephone" title="Звоните">{{ site.data.i18n.company.is-phone }}</a></span> |
    <a class="js-contact" href="mailto:{{ site.data.i18n.company.email }}" title="Написать письмо">Эл. почта</a>
    <p class="footer-privacy">© <span itemprop="name">«Полилог»</span> | PR, event, IT c&nbsp;2000г. <a class="nowrap" href="/ru/company/privacy-policy#consent">Политика конфиденциальности</a></p>
  </div>
</footer>
