{% if page.lang == 'ru' %}
  {% assign menu = site.data.navbar %}
{% else %}
  {% assign menu = site.data.navbar-en %}
{% endif %}

<nav class="navbar">
  <!--noindex-->
  <ul class="navbar-nav nav">

    {% for section in menu %}
      {% if section.submenu %}
        <li class="navbar-item dropdown{% if section.secondary %} hidden-xs-down{% endif %}{% if section.url == page.url %} is-active{% endif %}">

          <a class="navbar-dropdown-toggle {{ section.name }} js-menu-link" id="dropdown-{{ section.name }}" href="{{ section.url }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% if section.url contains 'it.polylog.ru' %} target="_blank" rel="noopener noreferrer"{% endif %}>
            <span class="icon {{ section.name }}" role="presentation"></span>
            {{ section.title }}
          </a>

          <button class="btn navbar-dropdown-toggle-split" type="button" data-toggle="dropdown">
            <span class="sr-only">Выбрать раздел</span>
          </button>

          <ul class="dropdown-menu" aria-labelledby="dropdown-{{ section.name }}" aria-hidden="true">
            {% for page in section.submenu %}
              <li class="dropdown-item{% if page.index %} index{% endif %}">
                <a class="dropdown-link" href="{{ page.url }}"{% if page.url contains 'it.polylog.ru/polycode' %} target="_blank" rel="noopener noreferrer"{% endif %}>
                  {{ page.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="navbar-item{% if section.secondary %} hidden-xs-down{% endif %}{% if section.url == page.url %} is-active{% endif %}">
          <a class="navbar-dropdown-toggle {{ section.name }} js-menu-link" href="{{ section.url }}">
            <span class="icon {{ section.name }}" role="presentation"></span>
            {{ section.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}

    <li class="navbar-cta">
      <h3 class="navbar-cta-headline">
        {{ site.data.i18n.labels.cta_help[page.lang] }}
      </h3>
      <button class="navbar-cta-btn" id="navbar-cta" data-target="#modal-form" data-toggle="modal">
        {{ site.data.i18n.labels.cta_contact[page.lang] }}
      </button>
    </li>
  </ul>
</nav>
