{% if page.lang == 'ru' %}
  {% comment %} RU {% endcomment %}
  <div class="page-header mb-0">
    <h1 class="page-header-headline">
      <a class="page-header__link" href="/ru/projects">Наша работа</a>{% if page.pagination.tag %}: {{ page.pagination.tag | downcase }}{% endif %}
    </h1>
    <span class="page-header-icon" role="presentation"></span>
  </div>

  {% comment %} RU: CAROUSEL {% endcomment %}
  {% unless page.pagination.tag %}
    <div class="page-header-carousel carousel slide js-manual hidden-sm-down" id="carousel-fundraising" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <figure class="carousel-item active">
          <a class="section-carousel-link" href="/ru/projects/2018/den-pobedy" title="Многолетняя PR-поддержка Дня Победы в Москве">
            <img src="{{ site.assets }}/img/s-services/pr/featured/victory-day-2018.jpg" alt="Многолетняя PR-поддержка Дня Победы в Москве">
          </a>
          <figcaption>
            День Победы 2018
          </figcaption>
        </figure>
        <figure class="carousel-item">
          <a class="section-carousel-link" href="/ru/projects/2017/btl-akcii-leeco" title="BTL-акции для LeEco">
            <img src="{{ site.assets }}/img/s-services/analytics-creativity/featured/leeco.jpg" alt="BTL-акции для LeEco">
          </a>
          <figcaption>
            BTL-акции для LeEco
          </figcaption>
        </figure>
        <figure class="carousel-item">
          <a class="section-carousel-link" href="/ru/projects/2018/test-drayv-novogo-pokoleniya-scania" title="Тест-драйв нового поколения Scania">
            <img src="{{ site.assets }}/img/s-services/pr/featured/scania.jpg" alt="Тест-драйв нового поколения Scania">
          </a>
          <figcaption>
            Тест-драйв Scania
          </figcaption>
        </figure>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carousel-fundraising" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-fundraising" data-slide-to="1"></li>
        <li data-target="#carousel-fundraising" data-slide-to="2"></li>
      </ol>
    </div>
  {% endunless %}
{% else %}

  {% comment %} EN {% endcomment %}
  <div class="page-header mb-0">
    <h1 class="page-header-headline">
      <a class="page-header__link" href="/en/projects">Our Work</a>{% if page.pagination.tag %}: {{ page.pagination.tag }}{% endif %}
    </h1>
    <span class="page-header-icon" role="presentation"></span>
  </div>

  {% comment %} EN: CAROUSEL {% endcomment %}
  {% unless page.pagination.tag %}
    <div class="page-header-carousel carousel slide js-manual hidden-sm-down" id="carousel-fundraising" data-ride="carousel">
      <div class="carousel-inner" role="listbox">

        <figure class="carousel-item active">
          <a class="section-carousel-link" href="/en/projects/2016/moscow-city-day" title="Support in publicity of the Moscow City Day 2016">
            <img src="{{ site.assets }}/img/s-services/pr/featured/moscow.jpg" alt="Support in publicity of the Moscow City Day 2016">
          </a>
          <figcaption>
            Moscow city day 2016
          </figcaption>
        </figure>

        <figure class="carousel-item">
          <a class="section-carousel-link" href="/en/projects/2016/leeco-opening-first-shop-russia-organization-flash-sale" title="BTL-events for LeEco">
            <img src="{{ site.assets }}/img/s-services/analytics-creativity/featured/leeco.jpg" alt="BTL-events for LeEco">
          </a>
          <figcaption>
            BTL-events for LeEco
          </figcaption>
        </figure>

        <figure class="carousel-item">
          <a class="section-carousel-link" href="/en/projects/2012/apec-ceo-summit-has-become-key-event-vladivostok" title="APEC CEO Summit">
            <img src="{{ site.assets }}/img/s-services/event-management/featured/apec.jpg" alt="APEC CEO Summit">
          </a>
          <figcaption>
            APEC CEO Summit
          </figcaption>
        </figure>
      </div>

      <ol class="carousel-indicators">
        <li data-target="#carousel-fundraising" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-fundraising" data-slide-to="1"></li>
        <li data-target="#carousel-fundraising" data-slide-to="2"></li>
      </ol>
    </div>
  {% endunless %}
{% endif %}

