---
lang: ru
title: 'Наша работа'
description: 'За годы работы мы накопили богатый опыт, но, важнее того, — хорошие, человеческие отношения с клиентами. Здесь собраны благодарственные письма по результатам некоторых проектов.'
permalink: /ru/projects/testimonials
image: /img/polylog.png
layout: page
custom-main: true
banner: /img/s-projects/testimonials/testimonials.jpg
classes: page is-projects has-page-header has-article-banner

---

<p class="col-lg-8 offset-lg-2 pt-42 pb-18 text-center">
  За&nbsp;годы работы мы&nbsp;накопили богатый опыт, но, важнее того,&nbsp;— хорошие, человеческие отношения с&nbsp;клиентами.
  <br>Ниже&nbsp;— благодарственные письма по&nbsp;результатам некоторых проектов. Мы&nbsp;высоко ценим ваши теплые слова в&nbsp;наш адрес.
</p>

  <div class="appreciation-letters grid row">
    {% for testimonial in site.data.testimonials %}
    <figure class="appreciation-letter loose">
      <a class="appreciation-letter-link js-mfp" href="{{ site.assets }}{{ testimonial.image }}" title="{{ testimonial.alt }}">
        <img class="appreciation-letter-img" src="{{ site.assets }}{{ testimonial.thumbnail }}" alt="{{ testimonial.alt }}">
      </a>
      <figcaption>
        {{ testimonial.title }}
        {% if testimonial.link %}
        <br>
        <a class="link forward" href="{{ testimonial.link }}">О проекте</a>
        {% endif %}
      </figcaption>
    </figure>
    {% endfor %}
  </div>
