.logo {
  @extend %text-hide;

  background: url('#{$site-assets}/img/logo/polylog-logo-ny.svg') no-repeat;
  // background: url('#{$site-assets}/img/logo/polylog-logo.svg') no-repeat;
}

.header .logo {
  // new year edit
  background-position: -100px -80px;
  // end edit
  // background-position: -60px 0;
  position: absolute;
  top: 12px;
  left: 16px; // 1
  height: 32px;
  width: 32px;
  z-index: 1;

  .page-front & {
    cursor: default;
    pointer-events: none;
  }

  @include media-breakpoint-up(sm) {
    // new year add-on
    background-position: -60px 0;
    // end add-on
    width: 132px;

    &::before {
      background: url('#{$site-assets}/img/logo/polylog-logo-ny.svg') no-repeat 0 -60px;
      display: block;
      content: '';
      position: absolute;
      top: -32px;
      left: -5px;
      width: 58px;
      height: 68px;
    }
  }

  @include media-breakpoint-up(md) {
    background-position: 0 0;
    position: fixed;
    top: 40px;
    left: 20px;
    height: 48px;
    width: 48px;

    &::before {
      top: 20px;
      left: -1px;
    }
  }

  @include media-breakpoint-up(xl) {
    top: 47px;
    left: 24px;
    height: 32px;
    width: 132px;

    &::before {
      top: -32px;
      left: -5px;
    }

    &.ru {
      background-position: -60px 0;
    }

    &.en {
      background-position: -60px -40px;
    }
  }
}
