{% comment %} {% if page.lang == 'ru' %} … {% endif %} {% endcomment %}
<aside class="cta container">
  <h2 class="cta-headline">Необходима смета или&nbsp;предложение? Проводите&nbsp;тендер?</h2>
  <h3 class="cta-subhead">Давайте созвонимся</h3>

  {% comment %} Button for phones {% endcomment %}
  <a class="cta-btn hidden-md-up" href="tel:+7-495-258-2045" role="button">
    <span class="icon-phone" role="presentation"><svg><use href="{{ site.assets }}/img/graphics/sprite.svg#icon-phone"></use></svg></span>
    Позвонить
  </a>

  {% comment %} Button for tablets end desktops {% endcomment %}
  <button class="cta-btn hidden-sm-down" data-target="#modal-form" data-toggle="modal">
    <span class="icon-phone" role="presentation"><svg><use href="{{ site.assets }}/img/graphics/sprite.svg#icon-phone"></use></svg></span>
    Обратная связь
  </button>
</aside>
