<div class="col-lg-6" itemscope itemtype="http://schema.org/Event">
  <a class="tile {{ site.data.polylog-promo.class }} poster wide" href="{{ site.data.polylog-promo.url }}" itemprop="url" target="_blank" rel="noopener noreferrer">

    <img class="tile-logo" src="{{ site.assets }}{{ site.data.polylog-promo.logo }}" itemprop="image" alt="{{ site.data.polylog-promo.title }}">

    <div class="tile-body">
      <h2 class="tile-headline mb-1" itemprop="name">
        {{ site.data.polylog-promo.title }}
      </h2>
      <div class="tile-summary">
        <p class="sr-only" itemprop="description">
          {{ site.data.polylog-promo.description }}
        </p>

        <span class="nowrap">
          <time datetime="{{ site.data.polylog-promo.start_dateMachine }}" itemprop="start_date" content="{{ site.data.polylog-promo.start_dateMachine }}">{{ site.data.polylog-promo.start_date }}</time><time datetime="{{ site.data.polylog-promo.end_date_machine }}" itemprop="end_date" content="{{ site.data.polylog-promo.end_date_machine }}">{{ site.data.polylog-promo.end_date }}.</time>
        </span>
        <address itemprop="location" itemscope itemtype="http://schema.org/Place">
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">{{ site.data.polylog-promo.city }},</span>
          </span>
          <span itemprop="name">
            {{ site.data.polylog-promo.location }}
          </span>
          <span class="sr-only" itemprop="telephone">{{ site.data.polylog-promo.is-phone }}</span>
        </address>
      </div>
    </div>

    <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>
  </a>
</div>
