<div itemscope itemtype="http://schema.org/Event">
  <a class="card featured-event has-header-like-tile" href="{{ site.data.polylog-promo.url }}" itemprop="url" target="_blank" rel="noopener noreferrer">

    <figure class="card-header {{ site.data.polylog-promo.class }}">
      <img class="card-logo" src="{{ site.assets }}{{ site.data.polylog-promo.logo }}" itemprop="image" alt="{{ site.data.polylog-promo.title }}">
    </figure>

    <div class="card-body solid">

      <h3 class="card-headline" itemprop="name">{{ site.data.polylog-promo.title }}</h3>
      <div class="card-summary">
        <p class="sr-only" itemprop="description">
          {{ site.data.polylog-promo.description }}
        </p>
        <span class="nowrap">
          <time datetime="{{ site.data.polylog-promo.start_date_machine }}" itemprop="start_date" content="{{ site.data.polylog-promo.start_date_machine }}">{{ site.data.polylog-promo.start_date }}</time><time datetime="{{ site.data.polylog-promo.end_date_machine }}" itemprop="end_date" content="{{ site.data.polylog-promo.end_date_machine }}">{{ site.data.polylog-promo.end_date }}.</time>
        </span>
        <address itemprop="location" itemscope itemtype="http://schema.org/Place">
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">{{ site.data.polylog-promo.city }},</span>
          </span>
          <span itemprop="name">
            {{ site.data.polylog-promo.location }}
          </span>
          <span class="sr-only" itemprop="telephone">{{ site.data.polylog-promo.is-phone }}</span>
        </address>
      </div>

    </div>
  </a>
</div>
