header.header(aria-label="Поиск")

  //- LOGO
  a.logo.ru(href="/" rel="home" title="На первую страницу") PR-агентство «Полилог»

  .container
    //- SEARCH
    include /components/form/search/_search.pug

    //- PHONE
    a.header__link.is-phone-number(href="tel:+7-495-258-2045" title="Звоните")
      svg.icon.is-phone(role="presentation"): use(href="#icon-phone")
      | +7 (495) <b>258-20-45</b>

    //- LANGUAGE SWITCHER
    a.header__locale-switcher(href="/en/home" title="Switch to English")
      span.icon.flag-gb English
