// .options.horizontal {
//   @include clearfix();

//   > li {
//     float: left; // inline-block causes extra-margin
//     margin: 0 8px 16px 0;
//   }
// }


// 1) inherited styles: inline-block;

.btn.social {   // 1
  border-radius: 5px;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 0;
  opacity: .8;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }

  &.last {
    margin-right: 0;
  }

  &.icon {
    display: inline-block;
    vertical-align: middle;
  }
}

// button.btn.social.facebook > span.fb-like > span(dynamic) > iframe
.btn.social.facebook {
  background: $color-facebook;
  // > span {
  //   transform: translate(-1.4rem, .1rem);
  // }
}

.btn.social.facebook,
.fb-like > span,
.fb-like > span > iframe {
  // Override facebook inline styles
  width: 102px !important;
}

.btn.social.vk {
  background: rgb(94, 128, 172) !important;
  overflow: hidden;
  width: 66px !important;
  height: 32px !important;
}

// Remove the right margins from the extreme right buttons
.btn.social.icon.email-md,
.btn.social.icon.rss {
  @include media-breakpoint-up(lg) {
    margin-right: 0;
  }
}

// Hide and Show

.btn.social.icon.email-md,
.btn.social.icon.google-plus,
.btn.social.icon.linkedin {
  @extend .hidden-sm-down;
}

.btn.social.icon.twitter,
.btn.social.icon.pocket {
  @extend .hidden-xs-down;
}

.btn.social.icon.whatsapp {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

// -----------------------------------------------------------------------------
// Expanded (in article)
// -----------------------------------------------------------------------------

.btn.social.expanded {
  display: block;
  margin-bottom: ($spacer-y / 2);
  width: 102px;
  height: 32px;

  .icon {
    display: inline-block;
    vertical-align: middle;
  }
}

.btn.expanded.twitter,
.btn.expanded.telegram {
  background: rgb(64, 128, 255);
}

.btn.expanded.twitter {
  padding-top: .2rem;

  .icon {
    margin-top: .1rem;
    margin-right: .4rem;
  }
}

.btn.expanded.telegram {
  padding-top: .3rem;

  .icon {
    margin-top: -.3rem;
    margin-right: .2rem;
  }
}

.btn.expanded.email {
  background: $black-transparent-even-more;
  padding-top: .1rem;
  .icon {
    margin-top: .2rem;
    margin-right: .2rem;
  }
}
