---
layout: default
---

<main class="container">

  <article class="article" itemscope itemtype="https://schema.org/Article">

    <header class="article-eyebrow meta">
      <a class="meta-link is-return-to-index" href="/{{ page.lang }}/company/arj" itemprop="articleSection">{{ site.data.i18n.headings.news_arj[page.lang] }}</a>
    </header>

    <h1 class="article-headline" itemprop="headline">
      {{ page.title }}
    </h1>

    <div class="article-body" itemprop="articleBody">
      <p class="lead">
        {{ page.description }}
      </p>
      {{ content }}
    </div>

    <footer class="article-footer meta">
      {% include date.html %}

      <meta itemprop="author" content="PR-агентство «Полилог»">
      <meta itemprop="publisher" content="PR-агентство «Полилог»">
    </footer>

  </article>
</main>
