<div itemscope itemtype="http://schema.org/Event">
  <a class="card featured-event has-header-like-tile" href="{{ site.data.polylog-promo.url }}" target="_blank" rel="noopener noreferrer">
    <figure class="card-header {{ site.data.polylog-promo.class }}">
      <img class="card-logo" src="{{ site.assets }}{{ site.data.polylog-promo.logo }}" alt="{{ site.data.polylog-promo.title }}">
    </figure>
    <div class="card-body solid">
      <h3 class="card-headline">{{ site.data.polylog-promo.title }}</h3>
      <div class="card-summary">
        {{ site.data.polylog-promo.description }}
        <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>
      </div>
    </div>
  </a>
</div>
